# SPDX-License-Identifier: GPL-2.0-only

comment "WonderMedia media platform drivers"

config VIDEO_WMT_JDEC
	tristate "WonderMedia WM8505 JPEG decoder"
	depends on V4L_MEM2MEM_DRIVERS
	depends on VIDEO_DEV
	depends on ARCH_VT8500 || COMPILE_TEST
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_MEM2MEM_DEV
	select V4L2_JPEG_HELPER
	help
	  This is a V4L2 memory-to-memory driver for the WonderMedia WM8505
	  JPEG decoder hardware block. It provides hardware-accelerated baseline
	  JPEG and Motion JPEG decoding.

	  Say M here if you want to enable support for the WM8505 JPEG decoder.

	  The module will be called wmt-jdec.

config VIDEO_WMT_SCL
	tristate "WonderMedia WM8505 scaler"
	depends on V4L_MEM2MEM_DRIVERS
	depends on VIDEO_DEV
	depends on ARCH_VT8500 || COMPILE_TEST
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_MEM2MEM_DEV
	select MFD_SYSCON
	help
	  This is a V4L2 memory-to-memory driver for the WonderMedia WM8505
	  picture scaler and color space converter. It supports bilinear
	  upscaling, box-filter downscaling, and format conversion between
	  NV12 and ARGB8888.

	  Say M here if you want to enable support for the WM8505 scaler.

	  The module will be called wmt-scl.
