// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * wm8505-ref.dts - Device tree file for WonderMedia WM8505 reference netbook
 *
 * Copyright (C) 2012 Tony Prisk <linux@prisktech.co.nz>
 * Copyright (C) 2026 Logan Russell <me@lrussell.net>
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "wm8505.dtsi"

/ {
	model = "WonderMedia WM8505 Netbook";
	compatible = "wm,wm8505-ref", "wm,wm8505";

	backlight: backlight {
		compatible = "pwm-backlight";
		brightness-levels = <0>, <10>, <12>, <15>, <19>, <24>, <29>,
				    <37>, <45>, <56>, <70>, <87>, <108>,
				    <133>, <166>, <205>, <255>;
		default-brightness-level = <14>;
		pwms = <&pwm 0 40000>;
	};

	battery: battery {
		compatible = "simple-battery";
		device-chemistry = "lithium-ion";
		voltage-min-design-microvolt = <6445000>;
		voltage-max-design-microvolt = <7975000>;
		ocv-capacity-celsius = <25>;
		ocv-capacity-table-0 = <7975000 100>, <7745000 90>, <7635000 80>,
				       <7540000 70>, <7445000 60>, <7350000 50>,
				       <7235000 40>, <7100000 30>, <6955000 20>,
				       <6775000 10>, <6445000 0>;
	};

	battery-monitor {
		compatible = "wm,wm8505-battery";
		sense-gpios = <&pinctrl 4 GPIO_ACTIVE_HIGH>;
		charge-done-gpios = <&pinctrl 1 GPIO_ACTIVE_HIGH>;
		low-battery-gpios = <&pinctrl 259 GPIO_ACTIVE_LOW>;
		revision-gpios = <&pinctrl 19 GPIO_ACTIVE_HIGH>;
		monitored-battery = <&battery>;
		power-supplies = <&charger>;
		wm,threshold-microvolt = <4000000>;
		wm,alarm-microvolt = <6870000 6780000>;
	};

	charger: charger {
		compatible = "gpio-charger";
		charger-type = "mains";
		gpios = <&pinctrl 0 GPIO_ACTIVE_HIGH>;
	};

	panel {
		compatible = "wm,wm8505-panel", "panel-dpi";
		power-supply = <&vcc33>;
		backlight = <&backlight>;
		width-mm = <154>;
		height-mm = <86>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&display_out>;
			};
		};

		panel-timing {
			clock-frequency = <30000000>;
			hactive = <800>;
			vactive = <480>;
			hsync-len = <48>;
			hback-porch = <40>;
			hfront-porch = <40>;
			vsync-len = <3>;
			vback-porch = <29>;
			vfront-porch = <13>;
		};
	};

	vcc33: regulator-vcc33 {
		compatible = "regulator-fixed";
		regulator-name = "vcc33";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};
};

&ac97 {
	speaker-gpios = <&pinctrl 3 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&display {
	status = "okay";

	port {
		display_out: endpoint {
			remote-endpoint = <&panel_in>;
		};
	};
};

&pinctrl {
	wifi-power-hog {
		gpio-hog;
		gpios = <2 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "wifi-power";
	};
};

&pwm {
	status = "okay";
};

&uart0 {
	status = "okay";
};
