# SPDX-License-Identifier: GPL-2.0-only
config DRM_WMT
	tristate "DRM Support for WonderMedia WM8505 SoCs"
	depends on DRM && OF && ARM
	select DRM_KMS_HELPER
	select DRM_GEM_DMA_HELPER
	select DRM_PANEL
	select DRM_PANEL_BRIDGE
	select VIDEOMODE_HELPERS
	help
	  Choose this option for DRM support for the WonderMedia WM8505 SoC.
	  This enables display output for the integrated LCD panel.
	  If M is selected, the modules will be called wmt-drm and wmt_panel.
	  If unsure, say N.
